<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace=해당 맵퍼태그의 이름. -->
  <!-- resultType= 반환되는 타입.(VO) -->
<mapper namespace="com.yedam.mapper.BoardMapper">
  <select id="getTotalCount" parameterType="com.yedam.common.SearchVO" resultType="int">
  
  </select>
  <insert id="insertReply">
  <!-- 셀렉트할때 시퀀스를 통해서 insert를 하기때문에 selectkey로 시퀀스를 먼저 조회해야함. -->
  <selectKey keyProperty="replyNo" resultType="int">
  select reply_seq.nextval from dual
  </selectKey>
  insert into tbl_reply(reply_no, reply, replyer, board_no)
  values ( #{replyNo}, #{reply}, #{replyer}, #{boardNo}) 
  </insert>
</mapper>